.skill-build {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Расстояние между скиллами */
    width: 40%;
    margin-top: 0;
    justify-content: center;
}
.SkillLVLS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: rgb(75, 75, 75);
    height: 50px;
    color: white;
    font-size: 20px;
}
.skill-group{
    display: flex;
    gap:5px;
}
.skill-build-with-skills{
    display: flex;
    gap: 1em;
    align-items: flex-start;
    margin: 3em 0 0 6.2em;
}
.ItemsBuild{
    display: flex;
    flex-direction: column;
    margin-top: -3.2em;
}
.ItemsBuild .ItemIcon{
    width: 5.5em;
    height: 90%;
}
.ItemBuildP{
    margin: 0;
    font-size: 32px;
}