.auth-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;  /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px; /* Add some top margin */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Make buttons full width */
    margin-bottom: 10px; /* Add spacing between buttons */
}


.error-message {
    color: red;
    margin-top: 10px;
}